	<header>
		<!-- For the navigation -->
		<div class="container">
			<div class="navtoggle" id="myNavtoggle" data-controller="navtoggle">
				<div class="logo-size">
					<img src="<%= image_path('sitelogo.png') %>" alt="Site Logo" class="logo">
					<nav>
						<ul>
							<li class="parent"><a href="index.html">Work</a>
								<ul class="dropdown-content">
									<li><a href="index.html">All</a></li>
									<li><a href="index.html">UX Work</a></li>
									<li><a href="index.html">Web Development</a></li>
								</ul>
							</li>
							<li><a href="about.html">About</a></li>
							<li><a href="#contact" onclick="menuToggle()">Contact</a></li>
							<%# <li><a href="javascript:void(0);" class="icon"><i class="fas fa-bars"></i></a></li> %>
							<li><a href="javascript:void(0);" class="icon"><i class="fas fa-bars"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>