<main>	<!--whole section-->
	<div class="contentwrapper">	<!--container block-->
		<div class="row">			<!-- open row that holds (2) columns for project 1 -->
			<div class="self-img column col-md-6 col-lg-5">	<!-- open first column (used for image) -->
				<%= image_tag 'selfimage_1x.png', alt: 'My Image' %>
			</div>	<!-- end first column -->
			<div class="column col-md-6 col-lg-7">	<!-- open row that holds (2) columns for project 2 -->
				<div id="story">	<!-- row for two columns>-->
					<h3>My Story</h3>
					<p>	<!--start of inro paragraph-->
						Hi! I'm a User Experience Designer based in Frankfurt Main, Germany.
					</p><!--end of inro paragraph-->

					<p>	<!--start of first paragraph-->
						UX designer with a background in accounting & auditing and extensive experience in designing and implementing digital training programs. Passionate about leveraging technology to develop learner-centred solutions.
					</p>	<!--end of first paragraph-->

					<p>	<!--start of second paragraph-->
						I started my journey in accounting and finance but discovered my passion UX design and building apps and websites.
					</p>	<!--end of second paragraph-->

					<p>	<!--start of third paragraph-->
						My finance and accounting backgrounds have taught me to be methodical, keen and attentive to details in all my undertakings.
						I enjoy using UX Design skills to create simple and products that enhance the quality life. After working in Fintech company, understanding the business and the users,
						improving and testing product designs, I felt attracted to this field and it felt natural to move into coding to bring the designs to life. Combining my experience in finance & accounting with User Experience (UX) Design experience and Web Development, I
						enjoy creating simple, satisfying and user centered solutions.
					</p>	<!--end of third paragraph-->

					<!-- <a  href="files/cv.pdf" download>Resume</a>-->
					<%= link_to "View Resume", "/cv_nyaorobenjamin.pdf", class: "button cv", target: "_blank" %>
				</div>
			</div>	<!-- end second column -->
		</div>   <!-- end row that holds (2) columns for project 1 -->
	</div>

	<div id="work"> <!--start of skills & tools container heading-->

	<div id="skillstools"> <!--start of skills & tools container heading-->
		<h2>Skills and Tools</h2>
	</div> <!--end of skills & tools container heading-->
	<div class="row reverseimg"> <!-- open row that holds (2) columns for project 2 -->
		<div class="column col-md-6 col-lg-7">
			<div id="skills">	<!--start of relevant skills container heading-->
				<h3>UX Skills</h3>
				<ul>
					<li>User Research (Competitor Analysis, User interviews, Data Analysis)</li>
					<li>User Flows & Journeys</li>
					<li>Wireframing & Prototyping </li>
					<li>Usability Testing </li>
				</ul>
				<h3>Web Development Skills</h3>
				<ul>
					<li>Ruby on Rails</li>
					<li>HTML, CSS and Javascript</li>
				</ul>
			</div>  <!--end of relevant skills container heading-->
			<div id="tools"> <!--start of tools I use container heading-->
				<h3>Tools I use</h3>
				<ul>
					<li>Adobe XD, Illustrator, Photoshop</li>
					<li>Figma</li>
					<li>Balsamiq</li>
					<li>Invision</li>
				</ul>
			</div> <!--end of tools I use container heading-->
		</div><!-- end row that holds (2) columns for project 2 -->

		<div class="column col-md-6 col-lg-5"> <!-- open first column (used for image) -->
			<%= image_tag 'skillsimage.jpg', alt: 'My Image' %>
		</div>	<!-- end first column -->
	</div> <!--end of skills & tools container heading-->
</main>
