<main>
	<div class="contentwrapper">
		<!-- Background Video-->
		<video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="assets/mp4/bg.mp4" type="video/mp4" /></video>
		<%= video_tag "shared/bg.mp4", class: "bg-video", playsinline: "playsinline", autoplay: "autoplay", muted: "muted", loop: "loop",  type: "video/mp4"   %>
		<!-- Masthead-->
		<div class="masthead mt-1">
			<div class="masthead-content text-white">
				<div class="container-fluid">
					<h1 class="fst-italic lh-1 mb-2">This project is on the final touches...🚀</h1>
					<p class="mb-2">Some polishing heppening to make it appealing and presentable. When you pass by later, it will be ready! </p>
					<p> Please feel free to send me a message or view other projects.</p>
					<form id="contactForm">
						<div class="row input-group-newsletter">
							<%= link_to "More Projects", "index.html", class:"btn button contact col mr-5"  %>
							<a href="mailto:nyaorobenjamin@gmail.com" target="_blank" class=" col button text-center mr-5">Email Me</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JS-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
		<!-- Core theme JS-->
		<script src="js/scripts.js"></script>

</main>