    <main>
			<div class="contentwrapper">
					<div class="row">

							<h2>FinTrac</h2>

							<div class="project-scr">
									<picture>
											<source srcset="img/fintrac/projectpagecover.jpg" media="(max-width:767px)">
											<img src="img/fintrac/projectpagecover.jpg" alt="My Image">
									</picture>
							</div>
							<div class="reverseimg">
									<div class="column col-md-6 col-lg-7">
											<!-- open row that holds (2) columns for project 2 -->
											<div id="story">
													<!-- row for two columns>-->

													<h3>Project Summary</h3>

													<h4>The Problem</h4>

													<p>Keeping track of your money can be really hard, especially if you don’t have the time to do so and the right method to do so. Most people aren’t aware of how much money they spend every month, resulting in a pooroverall financial
															health for them.</p>

													<p>
															<h4>The Potential Solution</h4>

															<p> Building a money management e-WALLET that enables users to keep an eye on their spending and saving. FINTRAC is a finace management e-wallet that enable the users to keep all their balances in varius bank accounts and credit
																	cards in on place. It provides an overal transaction history and individual transaction history for every account. This enable the users to keep track of all their finances.
															</p>
															<!-- <a  href="files/cv.pdf" download>Resume</a>-->
															<a href="files/ComingSoon.pdf" target="_blank" class="button cv"> case study PDF</a>
											</div>
									</div>
							</div>
					</div>
			</div>
    </main>