<main>
	<div id="hero"><!-- For the hero section -->
		<div class="container">
			<div id="herotext" style="font-family: Asap">
				<h1 >Hi, My Name is Benjamin Nyaoro</h1>
				<h4>
					I'm a UX researcher with extensive experience in finance, accounting and auditing based in Frankfurt am Main area, Germany. I stand at the crosssection of finance and technology leveraging on my knowledge and experience in both fields to create designs
					that aim to address user pain ponits. If Fintech was a person, that would be me.
				</h4>
			</div>
		</div>
	</div>

	<!-- For work/projects -->
		<div id="work" class="container">
			<div id="skillstools" style="margin-top: 1.5em; font-weight: bold; font-family: Asap">
				<h2>My Work</h2>
			</div>
			<div class="subnav">
				<%= render "shared/subnav" %>
			</div>
			<div id="uxwork" class="uxwork" data-filterwork-target="uxwork">
				<%= render "shared/uxwork" %>
			</div> <!-- end of UX work container -->
			<div id="webdevwork"class="webdevwork" data-filterwork-target="webdevwork">
				<%= render "shared/webdevwork" %>
			</div> <!-- end of webdev work container -->
		</div> <!--End of class container-->
	</div>  <!--End of work container-->
</main>
