    <main>
        <div class="contentwrapper">
            <div class="row">

                <h2>Wave Accounting</h2>

                <div class="project-scr">
										<%= image_tag "waveaccounting/projectpagecover.jpg", alt: "Image cover" %>
                </div>
                <div class="reverseimg">
                    <div class="column col-md-6 col-lg-7">
                        <!-- open row that holds (2) columns for project 2 -->
                        <div id="story">
                            <!-- row for two columns>-->
                            <h3>Project summary</h3>

                            <h4>Objective</h4>
                            <p>Design the bill upload feature that would enable a user to upload and save bill details and finally post them to accounting. </p>
                            <p>
                                <h4>Overview</h4>
                                <P>
                                    The case study was an unsolicited bill upload feature for wave accounting platform. The design challenge was necessitated by the users of wave accounting in theis community forum where alot of them were either requesting or asking questions related to
                                    this feature. Having realised the gap I decided to design the bill upload feature but borrowing from the wave accounting receipt upload feature.
                                </p>
                                <!-- <a  href="files/cv.pdf" download>Resume</a>-->
                                <a href="https://hackernoon.com/wave-accountings-bill-upload-feature-an-unsolicited-design-b73q35wz" target="_blank" class="button cv">View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>