<main>
	<div class="contentwrapper">
		<div class="row">
			<h2>Word Guru</h2>
			<div class="project-scr">
				<div class="wrap">
					<%= image_tag "wordguru/projectpagecover.jpg", alt: "Project Cover" %>
				</div>
			</div>
			<div class="reverseimg">
				<div class="column col-md-6 col-lg-7">	<!-- open row that holds (2) columns for project 2 -->
					<div id="story"> 	<!-- row for two columns>-->
						<h3>Project Summary</h3>
						<h4>The Problem</h4>
						<p>Learning a new language can be very challenging especially for adults. It is even worse if your are expected to use it in your work or as a language of instruction in your studies. Amongs the many difficulties of learning a new language, is lack of time, lack of opportunities and lack of funds to pay to a language intitution. </p>
						<h4>The Potential Solution</h4>
						<p> Word Guru ia a language learning app designed for anyone who would like to learn a new language at their convenience. It allows you to be in charge of your learning schedule, offers you the opportunity to learn a variety of languages and the best part is that it is free for life.</p>
						<%= link_to "Case Study PDF", "WordGuru.pdf", target: "_blank", class: "button cv" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
